html {
    font-size: 62.5%;
}

.wrapper {
    max-width: 1300px;
    margin: 0 auto;
    width: 85%;
}

body {
    font-family: $baseFont;
}

h1 {
    color: $purple;
    font-family: $headerFont;
    text-transform: uppercase;
    font-size: calc(4.4rem + (80 - 44) * ((100vw - 315px) / (1300 - 315)));
    letter-spacing: 1.5px;
    line-height: 1.2;
    font-style: italic;
    font-weight: 800;
    text-shadow: -4px 2px $pink;    
}

form p {
    margin-bottom: 0;
}

.message {
    background: rgba(244, 244, 232, 0.6);
    border-radius: 5px;
    padding: 4%;
    color: $blue;
    font-size: calc(2rem + (30 - 20) * ((100vw - 315px) / (1300 - 315)));
    line-height: 1.5;
    text-align: justify;
    margin-bottom: 5%;
}

.theEnd {
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: $purple;
}

input[type="submit"] {
    @include border($purple);
    background: $pink;
    color: $purple;
    width: 100%;
    padding: 4% 5%;
    margin: 7% 0 0 0;
    white-space: normal;
    text-align: center;
    font-size: calc(1.7rem + (24 - 17) * ((100vw - 315px) / (1300 - 315)));
    font-family: $headerFont;
    text-transform: lowercase;
    font-weight: 700;
    letter-spacing: 1.1px;
    box-shadow: 7px 7px $purple;
    transition: 0.3s linear;
    &:hover, &:focus {
        @include border($blue);
        background: $blue;
        color: $cream;
    }
    &:active {
        // animation: 0.7s short-press cubic-bezier(0.770, 0.000, 0.175, 1.000) forwards;
        background-color: $blue;
        box-shadow: 4px 4px $purple;
        transform: translateY(3px);
    }
}

footer {
    margin-top: 10%;
    font-size: calc(1.2rem + (16 - 12) * ((100vw - 315px) / (1300 - 315)));
    text-align: center;
    p {
        color: $blue;
        margin: 0;
    }
}

