/* Portrait tablet and small desktops */
/* Landscape phone to portrait tablet */
/* Landscape phones and down */
/*Even smaller*/
html {
  font-size: 62.5%;
}

.wrapper {
  max-width: 1300px;
  margin: 0 auto;
  width: 85%;
}

body {
  background: #f4f4e8;
  font-family: "Didact Gothic", sans-serif;
}

h1 {
  color: #b43e8d;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-size: calc(4.4rem + (80 - 44) * ((100vw - 315px) / (1300 - 315)));
  letter-spacing: 1.5px;
  line-height: 1.2;
  font-style: italic;
  font-weight: 800;
  text-shadow: -4px 2px #f3b8d9;
}

.message {
  color: #6b63dd;
  font-size: calc(1.8rem + (24 - 18) * ((100vw - 315px) / (1300 - 315)));
  line-height: 1.5;
  text-align: justify;
}

input[type="submit"] {
  border: none;
  background: #f3b8d9;
  color: #b43e8d;
  width: 100%;
  padding: 4% 5%;
  margin: 5% 0;
  white-space: normal;
  text-align: center;
  font-size: calc(1.6rem + (20 - 16) * ((100vw - 315px) / (1300 - 315)));
  font-family: "Open Sans", sans-serif;
  text-transform: lowercase;
  font-weight: 700;
  letter-spacing: 1.1px;
  -webkit-box-shadow: 5px 5px #b43e8d;
          box-shadow: 5px 5px #b43e8d;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

input[type="submit"]:hover {
  background: #6b63dd;
  color: #f4f4e8;
}
