/* Portrait tablet and small desktops */
/* Landscape phone to portrait tablet */
/* Landscape phones and down */
/*Even smaller*/
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

@-webkit-keyframes short-press {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes short-press {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

html {
  font-size: 62.5%;
}

.wrapper {
  max-width: 1300px;
  margin: 0 auto;
  width: 85%;
}

body {
  background: #f4f4e8 url("../assets/background.png") no-repeat bottom right fixed;
  font-family: "Didact Gothic", sans-serif;
}

h1 {
  color: #b43e8d;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-size: calc(4.4rem + (80 - 44) * ((100vw - 315px) / (1300 - 315)));
  letter-spacing: 1.5px;
  line-height: 1.2;
  font-style: italic;
  font-weight: 800;
  text-shadow: -4px 2px #f3b8d9;
}

.message {
  background: rgba(244, 244, 232, 0.5);
  padding: 2%;
  color: #6b63dd;
  font-size: calc(1.8rem + (24 - 18) * ((100vw - 315px) / (1300 - 315)));
  line-height: 1.5;
  text-align: justify;
}

.theEnd {
  text-align: center;
}

input[type="submit"] {
  border: 1px solid #b43e8d;
  background: #f3b8d9;
  color: #b43e8d;
  width: 100%;
  padding: 4% 5%;
  margin: 5% 0;
  white-space: normal;
  text-align: center;
  font-size: calc(1.6rem + (20 - 16) * ((100vw - 315px) / (1300 - 315)));
  font-family: "Open Sans", sans-serif;
  text-transform: lowercase;
  font-weight: 700;
  letter-spacing: 1.1px;
  -webkit-box-shadow: 5px 5px #b43e8d;
          box-shadow: 5px 5px #b43e8d;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  position: relative;
}

input[type="submit"]:hover {
  border: 1px solid #6b63dd;
  background: #6b63dd;
  color: #f4f4e8;
}

input[type="submit"]:active, input[type="submit"]:focus {
  -webkit-animation: 0.7s short-press cubic-bezier(0.77, 0, 0.175, 1) forwards;
          animation: 0.7s short-press cubic-bezier(0.77, 0, 0.175, 1) forwards;
}
